body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:18px;
    line-height: 34px;
    background:url("/assets/images/dust_scratches.png");
    margin:0 auto;

}

h2{
    margin-bottom:20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom:3px solid whitesmoke;
    padding:20px;
}



.navbar-brand{
    font-size:30px;
}



.main-form{
    margin-bottom:50px;
}
